<h2>Show image</h2>

<ul>

  <li>
    <strong>Set:</strong>
    <%= @image.set %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @image.name %>
  </li>

  <li>
    <strong>Container:</strong>
    <%= @image.container %>
  </li>

  <li>
    <strong>Dimensions:</strong>
    <%= @image.dimensions %>
  </li>

  <li>
    <strong>Storage:</strong>
    <%= @image.storage %>
  </li>

</ul>

<%= link "Back", to: image_path(@conn, :index) %>
